<header>
    @*<!-- Top Navbar -->
    <div class="top_nav">
        <div class="container">
            <ul class="list-inline info">
                <li><a href="#"><span class="fa fa-phone"></span> 1234 - 5678 - 9012</a></li>
                <li><a href="#"><span class="fa fa-envelope"></span> support@Construct.com</a></li>
                <li><a href="#"><span class="fa fa-clock-o"></span> Mon - Sat 9:00 - 19:00</a></li>
            </ul>
            <ul class="list-inline social_icon">
                <li><a href=""><span class="fa fa-facebook"></span></a></li>
                <li><a href=""><span class="fa fa-twitter"></span></a></li>
                <li><a href=""><span class="fa fa-behance"></span></a></li>
                <li><a href=""><span class="fa fa-dribbble"></span></a></li>
                <li><a href=""><span class="fa fa-linkedin"></span></a></li>
                <li><a href=""><span class="fa fa-youtube"></span></a></li>
            </ul>
        </div>
    </div><!-- Top Navbar end -->*@
    <!-- Navbar -->
    <nav class="navbar bootsnav">
        <!-- Top Search -->
        <div class="top-search">
            <div class="container">
                <div class="input-group">
                    <span class="input-group-addon"><i class="fa fa-search"></i></span>
                    <input type="text" class="form-control" placeholder="Search">
                    <span class="input-group-addon close-search"><i class="fa fa-times"></i></span>
                </div>
            </div>
        </div>
        <div class="container">
            <!-- Atribute Navigation -->
            <div class="attr-nav">
                <ul>
                    <li class="search"><a href="#"><i class="fa fa-search"></i></a></li>
                </ul>
            </div>
            <!-- Header Navigation -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-menu">
                    <i class="fa fa-bars"></i>
                </button>
                <a class="navbar-brand" href="/home"><img class="logo" src="images/logo.png" alt=""></a>
            </div>
            <!-- Navigation -->
            <div class="collapse navbar-collapse" id="navbar-menu">
                <ul class="nav navbar-nav menu">
                    <li><a href="/home">Home</a></li>
                    <li><a href="/details">About Us</a></li>
                    <li><a href="/Services">Services</a></li>
                    <li><a href="/WhyChooseUs">Why Choose Us</a></li>
                    <li><a href="/ContactUs">Contact Us</a></li>
                </ul>
            </div>
        </div>
    </nav><!-- Navbar end -->
</header><!-- Header end -->