<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE root [<!ELEMENT contactUs ANY>
<!ATTLIST contactUs id ID #REQUIRED>
<!ELEMENT home ANY>
<!ATTLIST home id ID #REQUIRED>
<!ELEMENT services ANY>
<!ATTLIST services id ID #REQUIRED>
<!ELEMENT whyChooseUs ANY>
<!ATTLIST whyChooseUs id ID #REQUIRED>
<!ELEMENT introductionContent ANY>
<!ATTLIST introductionContent id ID #REQUIRED>
<!ELEMENT details ANY>
<!ATTLIST details id ID #REQUIRED>
<!ELEMENT detailsContent ANY>
<!ATTLIST detailsContent id ID #REQUIRED>
<!ELEMENT section2Content ANY>
<!ATTLIST section2Content id ID #REQUIRED>
<!ELEMENT section3Content ANY>
<!ATTLIST section3Content id ID #REQUIRED>
]>
<root id="-1">
  <home id="1141" key="342d4e10-138d-473e-a234-36799e38909b" parentID="-1" level="1" creatorID="0" sortOrder="0" createDate="2018-11-07T12:51:37" updateDate="2018-11-07T18:11:11" nodeName="Home" urlName="home" path="-1,1141" isDoc="" nodeType="1140" creatorName="Rabin Maharjan" writerName="Rabin Maharjan" writerID="0" template="1139" nodeTypeAlias="home" isPublished="true">
    <introduction><![CDATA[<h3>We are Certified Engineers</h3>
<h1>Construction Services</h1>
<h1 class="second_heading">Creative &amp; Professional</h1>
<h1 class="second_heading">Award Winning Projects</h1>
<p>Construction you can count on. We'll get it done, like us there are none. We'll nail your next project, because nobody wants a screw up!</p>
<p><a href="/details" class="btn know_btn">know more</a></p>]]></introduction>
    <section2Feature4Summary><![CDATA[The Owners of Ecosense Construction and their Employees have many years of experience and a proven track record. Their experience ensures that their projects will be done right and with the upmost professionalism.]]></section2Feature4Summary>
    <section2Feature2Summary><![CDATA[Ecosense Construction prides themselves with having a strong dedication to the principle that a quality product is its own best form of advertising. Their employees are the best craftsman in the area. Quality construction continues after the close of the project.]]></section2Feature2Summary>
    <section2Feature1Summary><![CDATA[Integrity and fairness are the basis of Ecosense Construction business ethics, whether dealing with customers, suppliers or fellow team members. Honesty is not the best policy, but the only policy.]]></section2Feature1Summary>
    <section2Feature4Heading><![CDATA[WE ARE EXPERIENCED]]></section2Feature4Heading>
    <section2Summary><![CDATA[We deliver the best results.]]></section2Summary>
    <section2Feature2Heading><![CDATA[WE DELIVER QUALITY]]></section2Feature2Heading>
    <section2Feature3Summary><![CDATA[When Ecosense Construction starts a project they commit themselves to get it done in the timeliest manner as possible. They use the latest tools, techniques, and technology to do the job more quickly.]]></section2Feature3Summary>
    <section2Feature1Heading><![CDATA[ HONEST & DEPENDABLE]]></section2Feature1Heading>
    <section2Heading><![CDATA[WHY CHOOSE US ?]]></section2Heading>
    <section2Feature3Heading><![CDATA[ALWAYS ON TIME]]></section2Feature3Heading>
    <section3Feature1Heading><![CDATA[CONSTRUCTION MANAGEMENT]]></section3Feature1Heading>
    <section3Feature3Heading><![CDATA[SUSTAINABLE DESIGN]]></section3Feature3Heading>
    <section3Feature3Summary><![CDATA[Ecosense believes that sustainable design makes sense and it is our responsibility to implement green practices. Sustainable designs can offer a significant operating cost-savings to owners while having a positive impact on the environment. The LEED® rating system is made up of five main credit designations.]]></section3Feature3Summary>
    <section3Feature2Heading><![CDATA[DESIGN-BUILD]]></section3Feature2Heading>
    <section3Feature1Summary><![CDATA[Ecosense Construction Management process exceeds project and
Owner objectives through structured and consistent systems and procedures as applied by a highly-talented Project Team especially selected for each project based on their relevant experience and capabilities.]]></section3Feature1Summary>
    <section3Heading><![CDATA[OUR SERVICES]]></section3Heading>
    <section3Feature2Summary><![CDATA[Ecosense collaborative approach to Design-Build brings the design firm and the subcontractors together in a focused, team-oriented relationship offering Owners a single source of contact and responsibility. Ecosense has consistently demonstrated its successful Design-Build capabilities.]]></section3Feature2Summary>
    <welcomeTitle><![CDATA[Welcome]]></welcomeTitle>
    <welcomeSummary><![CDATA[<p><strong>Ecosense Construction</strong> is a leading construction contractor in the MENA region with a portfolio that includes some of the Middle East, India’s and Nepal's most iconic and sophisticated construction masterpieces</p>
<p>For almost 50 years, we have shaped the skylines of major cities, set the infrastructure for large industrial facilities and built landmark projects in healthcare, hospitality, commercial and residential. We focus on delivering quality while maintaining the highest health and safety standards.</p>]]></welcomeSummary>
    <services id="1146" key="caafa9fb-861a-4694-930c-b86c17a2dd67" parentID="1141" level="2" creatorID="0" sortOrder="0" createDate="2018-11-07T14:26:00" updateDate="2018-11-07T18:14:37" nodeName="Services" urlName="services" path="-1,1141,1146" isDoc="" nodeType="1144" creatorName="Rabin Maharjan" writerName="Rabin Maharjan" writerID="0" template="1142" nodeTypeAlias="services" isPublished="true">
      <section3Feature1Heading><![CDATA[CONSTRUCTION MANAGEMENT]]></section3Feature1Heading>
      <section3Feature3Heading><![CDATA[ SUSTAINABLE DESIGN]]></section3Feature3Heading>
      <section3Feature3Summary><![CDATA[Ecosense believes that sustainable design makes sense and it is our responsibility to implement green practices. Sustainable designs can offer a significant operating cost-savings to owners while having a positive impact on the environment. The LEED® rating system is made up of five main credit designations.]]></section3Feature3Summary>
      <section3Feature2Heading><![CDATA[DESIGN-BUILD]]></section3Feature2Heading>
      <section3Feature1Summary><![CDATA[Ecosense Construction Management process exceeds project and
Owner objectives through structured and consistent systems and procedures as applied by a highly-talented Project Team especially selected for each project based on their relevant experience and capabilities.]]></section3Feature1Summary>
      <section3Heading><![CDATA[OUR SERVICES]]></section3Heading>
      <section3Feature2Summary><![CDATA[Ecosense collaborative approach to Design-Build brings the design firm and the subcontractors together in a focused, team-oriented relationship offering Owners a single source of contact and responsibility. Ecosense has consistently demonstrated its successful Design-Build capabilities.]]></section3Feature2Summary>
    </services>
    <whyChooseUs id="1147" key="5fd32e93-ca45-4b9f-8aa2-23f0c9eb5901" parentID="1141" level="2" creatorID="0" sortOrder="1" createDate="2018-11-07T14:26:12" updateDate="2018-11-07T18:15:55" nodeName="WhyChooseUs" urlName="whychooseus" path="-1,1141,1147" isDoc="" nodeType="1145" creatorName="Rabin Maharjan" writerName="Rabin Maharjan" writerID="0" template="1143" nodeTypeAlias="whyChooseUs" isPublished="true">
      <section2Feature4Summary><![CDATA[Integrity and fairness are the basis of Ecosense Construction business ethics, whether dealing with customers, suppliers or fellow team members. Honesty is not the best policy, but the only policy.]]></section2Feature4Summary>
      <section2Feature2Summary><![CDATA[When Ecosense Construction starts a project they commit themselves to get it done in the timeliest manner as possible. They use the latest tools, techniques, and technology to do the job more quickly.]]></section2Feature2Summary>
      <section2Feature1Summary><![CDATA[Ecosense Construction prides themselves with having a strong dedication to the principle that a quality product is its own best form of advertising. Their employees are the best craftsman in the area. Quality construction continues after the close of the project.]]></section2Feature1Summary>
      <section2Feature4Heading><![CDATA[HONEST & DEPENDABLE ]]></section2Feature4Heading>
      <section2Summary><![CDATA[We deliver the best results.]]></section2Summary>
      <section2Feature2Heading><![CDATA[ALWAYS ON TIME]]></section2Feature2Heading>
      <section2Feature3Summary><![CDATA[The Owners of Ecosense Construction and their Employees have many years of experience and a proven track record. Their experience ensures that their projects will be done right and with the upmost professionalism.]]></section2Feature3Summary>
      <section2Feature1Heading><![CDATA[ WE DELIVER QUALITY]]></section2Feature1Heading>
      <section2Heading><![CDATA[WHY CHOOSE US ?]]></section2Heading>
      <section2Feature3Heading><![CDATA[WE ARE EXPERIENCED]]></section2Feature3Heading>
    </whyChooseUs>
    <details id="1155" key="360fa90e-c7b7-4508-9dd2-ef7073ff429a" parentID="1141" level="2" creatorID="0" sortOrder="2" createDate="2018-11-07T16:05:08" updateDate="2018-11-07T17:01:30" nodeName="Details" urlName="details" path="-1,1141,1155" isDoc="" nodeType="1152" creatorName="Rabin Maharjan" writerName="Rabin Maharjan" writerID="0" template="1151" nodeTypeAlias="details" isPublished="true">
      <details><![CDATA[<h2>About Us</h2>
<p>Ecosense Construction was founded in 1946 by my father Cecil. The leadership reigns were passed on to me in 1997. We hold true to the values established by my father and remain committed to craftsmanship and customer service. We know that our success in providing quality general contracting services has always been dependent on the talent and commitment of our employees. Malone has been fortunate to acquire and retain many talented people who are committed to our company and our clients.</p>
<p>Over the decades, we have grown and changed with the construction and real estate industries in Atlanta. We have succeeded in establishing ourselves as one of the most prominent commercial interiors firms in Atlanta and have utilized our resources to become one of the premiere builders of luxury residences for some of the most influential Atlanta families. We are also growing our company by expanding into the base building construction market. We believe that the attention to detail established over the years in our interiors market will enable us to bring a higher level of service and craftsmanship to the base building market.</p>
<p>Thank you for visiting our website and your interest in Construction Company. Please review the many projects we are proud to have completed. I look forward to getting to know you and work with you on your construction projects.</p>
<p>Sincerely,<br />J. Kirk</p>]]></details>
    </details>
    <contactUs id="1203" key="a7efd5ea-36ec-4a01-843e-b0a15aee4461" parentID="1141" level="2" creatorID="0" sortOrder="3" createDate="2018-11-07T18:33:46" updateDate="2018-11-07T18:33:52" nodeName="ContactUs" urlName="contactus" path="-1,1141,1203" isDoc="" nodeType="1202" creatorName="Rabin Maharjan" writerName="Rabin Maharjan" writerID="0" template="1201" nodeTypeAlias="contactUs" isPublished="true" />
  </home>
</root>