<section id="contact_form">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2>Do you have any questions?</h2>
                <h2 class="second_heading">Feel free to contact us!</h2>
            </div>
            <form role="form" class="form-horizontal col-md-9">
                <div class="form-group">
                    <input type="text" class="form-control" id="name" placeholder="Name">
                </div>
                <div class="form-group">
                    <input type="email" class="form-control" id="email" placeholder="Email">
                </div>
                <div class="form-group">
                    <input type="text" class="form-control" id="email" placeholder="Subject">
                </div>
                <div class="form-group">
                    <textarea class="form-control" rows="5" id="msg" placeholder="Message"></textarea>
                </div>
                <button type="submit" class="btn submit_btn">Submit</button>
            </form>
        </div>
    </div>
</section>
