<section id="portfolio">
    <div class="container portfolio_area text-center">
        <h2>Made with love</h2>
        <p>Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit,</p>

        <div id="filters">
            <button class="button is-checked" data-filter="*">Show All</button>
            <button class="button" data-filter=".buildings">Buildings</button>
            <button class="button" data-filter=".interior">Interior Design</button>
            <button class="button" data-filter=".isolation">Isolation</button>
            <button class="button" data-filter=".plumbing">Plumbing</button>
        </div>
        <!-- Portfolio grid -->
        <div class="grid">
            <div class="grid-sizer"></div>
            <div class="grid-item grid-item--width2 grid-item--height2 buildings plumbing interior">
                <img alt="" src="images/highligh_img.jpg">
                <div class="portfolio_hover_area">
                    <a class="fancybox" href="images/highligh_img.jpg" data-fancybox-group="gallery" title="Lorem ipsum dolor sit amet"><span class="fa fa-search"></span></a>
                    <a href="#"><span class="fa fa-link"></span></a>
                </div>
            </div>

            <div class="grid-item buildings interior isolation">
                <img alt="" src="images/portfolio1.jpg">
                <div class="portfolio_hover_area">
                    <a class="fancybox" href="images/portfolio1.jpg" data-fancybox-group="gallery" title="Lorem ipsum dolor sit amet"><span class="fa fa-search"></span></a>
                    <a href="#"><span class="fa fa-link"></span></a>
                </div>
            </div>

            <div class="grid-item interior plumbing isolation">
                <img alt="" src="images/portfolio2.jpg">
                <div class="portfolio_hover_area">
                    <a class="fancybox" href="images/portfolio2.jpg" data-fancybox-group="gallery" title="Lorem ipsum dolor sit amet"><span class="fa fa-search"></span></a>
                    <a href="#"><span class="fa fa-link"></span></a>
                </div>
            </div>

            <div class="grid-item isolation buildings">
                <img alt="" src="images/portfolio3.jpg">
                <div class="portfolio_hover_area">
                    <a class="fancybox" href="images/portfolio3.jpg" data-fancybox-group="gallery" title="Lorem ipsum dolor sit amet"><span class="fa fa-search"></span></a>
                    <a href="#"><span class="fa fa-link"></span></a>
                </div>
            </div>

            <div class="grid-item plumbing isolation">
                <img alt="" src="images/portfolio4.jpg">
                <div class="portfolio_hover_area">
                    <a class="fancybox" href="images/portfolio4.jpg" data-fancybox-group="gallery" title="Lorem ipsum dolor sit amet"><span class="fa fa-search"></span></a>
                    <a href="#"><span class="fa fa-link"></span></a>
                </div>
            </div>
        </div><!-- Portfolio grid end -->
    </div>
</section>
